ACTION=="add", KERNEL=="sd[a-z][1-9]", SUBSYSTEM=="block", SUBSYSTEMS=="usb", ENV{UDISKS_IGNORE}="1", TAG+="systemd", ENV{SYSTEMD_WANTS}="usb-format@%k.service"
